<h1>Activity Schedule</h1>

<% @schedule.ordered_entries.each do |entry| %>
  <h2 class="schedule_activity_name"><%= link_to entry.title, [@event, entry.activity] %></h2>
  <div class="schedule_activity_time"><%= entry.time_range_display %>: <%= entry.classroom.name %></div>
  <div><%= safe_join(entry.facilitators.map { |f| link_to(f.name, f) },  ", ".html_safe) %></div>
  <div class="details">
    <%== Kramdown::Document.new(entry.description).to_html %>
  </div>
<% end %>

