<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>

<%= form_with model: [@event, @activity] do |form| %>
  <% if @activity.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
        <% @activity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  <%= form.label :title, style: "display: block" %>
  <%= form.text_field :title %>
  </div>

  <div>
    <%= form.select :facilitaors, Person.all.
  </div>

  <div>
  <%= form.label :duration, style: "display: block" %>
  <%= form.text_field :duration %>
  </div>

  <%= form.textarea :description %>
  <%= form.submit %>
<% end %>

<script>
  const easyMDE = new EasyMDE();
</script>
